.popup-pic__close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  border: 0;
  background: none;
  background-image: url(../../../images/popup-pic/closebtn.svg);
  background-size: cover;
}


@media (max-width: 550px) {
  .popup-pic__close {
    width: 20px;
    height: 20px;
    right: 0;
  }
}
