.popup__box {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 330px;
  background-color: #FFFFFF;

  position: fixed;
  z-index: 2;
  top: 195px;
  left: calc(50% - 215px);

  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

@media (max-width: 550px) {
  .popup__box {
    width: 282px;
    height: 322px;
    top: 123px;
    left: calc(50% - 141px);
  }
}
